<div class="card-square">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="card-title">
                    <h5><a href="/assistiti/<%- id %>"><%- "Assistito #" + id %></a></h5>
                </div>
                <div class="card-subtitle">
                    <p>id #<%- id %></p>
                    <b>codice fiscale:  <%- dati?.codiceFiscale ?? "-" %></b>
                </div>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>
