<%
let menu = [
    {name: 'Home', href: '/', icon: 'bi bi-grid-fill'},
    {name: 'Organizzazioni', href: '/organizzazioni', icon: 'bi bi-building'},
    {name: 'Strutture', href: '/strutture', icon: 'bi bi-grid-fill'},
    {name: 'Assistiti', href: '/assistiti', icon: 'bi bi-person-circle'},
    {name: 'Wallet Info', href: '/wallet/verifica', icon: 'bi bi-collection-fill'}
];
%>

<div class="sidebar-menu">
    <ul class="menu">
        <li class="sidebar-title">Menu</li>
        <% menu.forEach(function (item) { %>
            <li class='sidebar-item <%= ((typeof pageTitle !== 'undefined') && (pageTitle === item.name)) ? "active" : "" %>'>
                <a href='<%= item.href %>' class='sidebar-link'>
                    <i class='<%= item.icon %>'></i>
                    <span>
                        <%= item.name %>
                    </span>
                </a>
            </li>
        <% }); %>
    </ul>
</div>
